/2019-12-18-https_acervo_estadao_com_br_noticias_acervo_guerra_na_siria_uma_decada_de_conflito_nas_paginas_do_estadao_70003645585_0_htm.txt
/2019-12-18-https_cultura_estadao_com_br_blogs_babel_babel_classico_moderno_de_sandra_cisneros_the_house_of_mango_street_vai_sair_no_brasil_.txt
/2019-12-18-https_cultura_estadao_com_br_blogs_direto_da_fonte_fechar_acordo_ou_fechar_acordo_.txt
/2019-12-18-https_cultura_estadao_com_br_blogs_marcelo_rubens_paiva_alerta_vermelho_no_conservadorismo_.txt
/2019-12-18-https_cultura_estadao_com_br_blogs_p_de_pop_tribeca_paxton_winters_e_o_yojimbo_do_morro_.txt
/2019-12-18-https_cultura_estadao_com_br_noticias_geral_streaming_em_junho_de_2020_o_que_ver_na_netflix_hbo_go_globoplay_70003318026.txt
/2019-12-18-https_cultura_estadao_com_br_noticias_literatura_escritor_nigeriano_chigozie_obioma_e_o_primeiro_confirmado_da_flip_2020_70003226106.txt
/2019-12-18-https_cultura_estadao_com_br_noticias_literatura_livros_sobre_refugiados_veja_uma_selecao_de_obras_indicadas_para_criancas_e_adolescentes_70003751469.txt
/2019-12-18-https_cultura_estadao_com_br_noticias_literatura_louise_gluck_e_a_premio_nobel_de_literatura_em_2020_70003468088.txt
/2019-12-18-https_cultura_estadao_com_br_noticias_series_cate_blanchett_fala_de_estado_zero_serie_sobre_refugiados_na_australia_70003350827.txt
/2019-12-18-https_cultura_estadao_com_br_noticias_televisao_streaming_em_marco_o_que_estreia_na_amazon_disney_netflix_e_outras_plataformas_70003631162.txt
/2019-12-18-https_economia_estadao_com_br_noticias_geral_trump_vai_perder_e_o_mesmo_pode_ocorrer_com_bolsonaro_70003478931.txt
/2019-12-18-https_educacao_estadao_com_br_blogs_oficina_do_estudante_consciencia_negra_hamzah_muhammad_um_imigrante_negro_em_campinas_.txt
/2019-12-18-https_esportefera_com_br_noticias_futebol_presidente_da_turquia_e_padrinho_no_casamento_de_ozil_70002861969.txt
/2019-12-18-https_esportes_estadao_com_br_noticias_futebol_conheca_a_familia_glazer_alvo_de_furia_da_torcida_do_manchester_united_70003706644.txt
/2019-12-18-https_esportes_estadao_com_br_noticias_futebol_eliminatorias_europeias_sao_marcadas_por_manifestacoes_por_direitos_humanos_no_catar_70003663423.txt
/2019-12-18-https_esportes_estadao_com_br_noticias_futebol_selecao_da_noruega_pode_boicotar_copa_do_mundo_de_2022_no_catar_entenda_70003647628.txt
/2019-12-18-https_internacional_estadao_com_br_blogs_lourival_santanna_pompeo_vai_a_7_paises_defender_liberdade_religiosa_.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_europa_papa_francisco_pede_que_bulgaros_abram_seus_coracoes_e_casas_aos_imigrantes_70002816544.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_a_libia_do_caribe_70003084553.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_analise_mesmo_com_ameacas_erdogan_prefere_acordo_com_russia_70003214442.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_artigo_a_mentira_como_ferramenta_politica_70003578199.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_atirador_que_matou_9_na_alemanha_queria_exterminio_completo_de_muitas_racas_e_culturas_70003204896.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_autoridades_europeias_vao_a_fronteira_da_grecia_com_a_turquia_para_contornar_crise_de_imigrantes_70003218044.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_casais_separados_por_trump_desejam_sua_derrota_70003481228.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_cidadaos_gregos_patrulham_fronteira_com_a_turquia_para_evitar_invasao_70003220965.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_como_trump_reformulou_a_presidencia_em_mais_de_11_mil_tuites_70003076088.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_crianca_morre_afogada_apos_barco_de_imigrantes_naufragar_no_mar_egeu_70003216814.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_crianca_morta_de_lesbos_70003220307.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_em_24_horas_grecia_impede_a_entrada_de_cerca_de_10_mil_imigrantes_turcos_70003215786.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_erdogan_prepara_uma_nova_intervencao_militar_desta_vez_na_libia_70003162913.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_europa_mantem_requerentes_de_asilo_a_distancia_desta_vez_em_ruanda_70003005110.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_europa_oferece_2_mil_euros_para_imigrantes_que_deixarem_ilhas_gregas_70003230340.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_exercito_turco_avanca_em_territorio_sirio_curdos_e_ong_falam_em_19_mortos_70003044679.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_grecia_acusa_seis_jovens_afegaos_por_iniciar_incendio_em_moria_70003439856.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_grecia_expulsa_refugiados_e_os_deixa_no_mar_afirma_the_new_york_times_70003400247.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_grecia_reforca_fronteira_com_a_turquia_enquanto_tenta_controlar_protesto_anti_imigracao_70003213414.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_imagem_de_pai_e_filha_afogados_no_rio_grande_reflete_drama_dos_que_se_arriscam_para_chegar_aos_eua_70002888092.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_imigrantes_na_europa_se_deparam_com_campos_fechados_e_fim_de_processos_por_coronavirus_70003243517.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_incendio_destroi_campo_de_refugiados_na_ilha_grega_de_lesbos_70003431028.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_movimento_de_oposicao_a_erdogan_denuncia_prisao_arbitraria_de_turco_no_brasil_70002804763.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_mulheres_e_filhos_do_estados_islamico_sao_largados_no_deserto_70003138433.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_policia_encontra_41_imigrantes_em_caminhao_frigorifico_na_grecia_70003075406.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_populismo_o_corruptor_da_democracia_70002990440.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_primeiro_ministro_da_grecia_diz_que_nao_vai_tolerar_nenhuma_entrada_ilegal_de_imigrantes_70003213843.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_refugiada_afega_refaz_vida_na_grecia_transformando_botes_em_bolsas_70002858303.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_relembre_imagens_de_tragedias_que_chocaram_o_mundo_70002889521.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_sirios_estao_em_prisao_secreta_na_grecia_70003229498.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_turquia_acusa_grecia_de_matar_imigrante_a_tiros_na_fronteira_atenas_nega_70003219381.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_turquia_ameaca_abrir_fronteira_da_europa_para_imigrantes_e_e_advertida_pela_comissao_europeia_70003213530.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_turquia_enviara_mil_policiais_para_a_fronteira_para_impedir_volta_de_imigrantes_da_europa_70003220806.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_turquia_fecha_via_maritima_mas_mantem_fronteira_para_a_grecia_aberta_70003223892.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_geral_turquia_usa_migrantes_para_fazer_chantagem_diz_franca_70003220334.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_nytiw_chefs_cozinha_combater_injusticas_sociais_70003384823.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_nytiw_chipre_rota_refugiados_europa_70003203107.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_nytiw_eritreia_ajuda_uniao_europeia_trabalho_forcado_70003161720.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_nytiw_grecia_imigrante_turquia_barreira_flutuante_70003210023.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_nytiw_imigrante_croacia_europa_refugiado_bosnia_70003177122.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_nytiw_imigrante_refugiado_grecia_hostilidade_fronteira_70003228751.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_nytiw_imigrantes_asilo_grecia_europa_70003195153.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_nytiw_tecnologia_futuro_dinheiro_pandemia_70003362286.txt
/2019-12-18-https_internacional_estadao_com_br_noticias_nytiw_turquia_silencia_os_proprios_criticos_mas_deixa_que_exilados_se_manifestem_70002793845.txt
/2019-12-18-https_politica_estadao_com_br_blogs_estadao_verifica_foto_de_imigrantes_em_alto_mar_foi_tirada_na_italia_nao_na_grecia_.txt
/2019-12-18-https_saude_estadao_com_br_noticias_geral_o_casal_de_medicos_por_tras_da_vacina_da_pfizer_para_combater_a_covid_19_70003524517.txt
/2019-12-18-https_viagem_estadao_com_br_blogs_viagem_como_e_a_pascoa_em_outros_paises_confira_as_tradicoes_mundo_afora_.txt
/2019-12-18-https_viagem_estadao_com_br_blogs_viagem_sem_fim_nunca_e_tarde_para_comecar_a_viajar_.txt